* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center
}

.col-4 {
  width: 33.33%;
  padding: 0 16px;
}

.col-6 {
  width: 50%;
  padding: 0 16px;
}

.col-12 {
  width: 100%;
  padding: 0 16px;
}

.mb-2 {
  margin-bottom: 20px;
}

form {
  text-align: center;
  margin: 25px 0;
}

#stardesign {
  width: 25px;
  height: 25px;
  margin: 0 4px 0 0;
}

.form-control {
  width: 70%;
  padding: 10px 15px;
  border: 1px solid #0d6efd;
  border-radius: 7px;
  margin: 15px 5px;
}

.form-control:focus {
  outline: 1px solid #052d68;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #052d68;
  background: #0d6efd;
  color: white;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #0d4aa4;
}

.feedback-card {
  border: 1px solid #0d6efd;
  padding: 20px 25px;
  border-radius: 20px;
  background: rgb(229, 242, 250);
  text-align: center;
  width: 100%;
  height: 230px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.feedback-card:hover{
  scale: 1.1;
}

.title {
  margin-bottom: 10px;
  color: #031c40;
  font-family: 'Courier New', Courier, monospace;
}